.container {
  background-color: rgb(15, 246, 223);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 64px);
  width: 300px;
  padding: 4px;
  margin-top: 180px;
  margin-left: 40%;
  border: solid 6px black;
  row-gap: 8px;
}

.screen input {
  width: 93%;
  height: 59px;
  font-size: 24px;
  padding-left: 8px;
  padding-right: 10px;
  border: solid black 2px;
}

.first {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 8px;
  align-items: center;
}

.num {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 8px;
  align-items: center;
}

.btn {
  height: 50px;
  background-color: rgb(140, 138, 138);
  color: white;
  font-size: 24px;
  border: none;
  border-radius: 4px 4px 6px 8px;
}

.btn:hover {
  background-color: rgb(102, 101, 101);
  cursor: pointer;
}

.Ac {
  height: 50px;
  background-color: rgb(213, 35, 35);
  color: white;
  font-size: 24px;
  border: none;
  border-radius: 4px 4px 6px 8px;
}

.Ac:hover {
  background-color: rgb(161, 23, 23);
  cursor: pointer;
}
